<?xml version="1.0" encoding="utf-8"?>

<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'PopcornTime' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>5b6d5934-4380-4bd5-85f8-ac853eb47fe4</InstrumentationKey>
</ApplicationInsights>